.dx-datagrid-summary-item {
  color: black !important;
  text-align: center !important;
  font-weight: 500 !important ;
  vertical-align: middle !important;
}

.dx-datagrid-scrollable-simulated {
  background-color: #c6e0b4;
}

.first-floor {
  width: 45%;
  margin: 12px 30px 30px 50px;
}

.second-floor {
  padding: 12px 30px 30px 50px;
}
