:root {
  --bs-gutter-x: 20px;
  --bs-gutter-y: 0;
  --report-VNA: rgba(48, 190, 255, 0.65);
  --report-VNE: rgba(249, 232, 13, 0.65);
  --report-VNC: rgba(30, 204, 51, 0.65);
  --report-VND: rgba(255, 96, 96, 0.65);
  --font-text: "ChakraPetch", sans-serif;
  --color-default: #7defe6;
  --font-weight: 400;
}

.card {
  --bs-border-color-rgb: var(--bs-body-color-rgb);
  position: relative;
  border: none;
}
.mb-3 {
  margin-bottom: 1rem !important;
}

.card {
  --bs-card-spacer-y: 1rem;
  --bs-card-spacer-x: 1rem;
  --bs-card-title-spacer-y: 0.5rem;
  --bs-card-border-width: var(--bs-border-width);
  --bs-card-border-color: var(--bs-border-color-translucent);
  --bs-card-border-radius: var(--bs-border-radius);
  --bs-card-inner-border-radius: calc(
    var(--bs-border-radius) - (var(--bs-border-width))
  );
  --bs-card-cap-padding-y: 0.5rem;
  --bs-card-cap-padding-x: 1rem;
  --bs-card-cap-bg: rgba(var(--bs-body-color-rgb), 0.03);
  --bs-card-bg: transparent;
  --bs-card-img-overlay-padding: 1rem;
  --bs-card-group-margin: 10px;
  position: relative;
  display: flex;
  flex-direction: column;
  min-width: 0;
  height: var(--bs-card-height);
  word-wrap: break-word;
  background-color: var(--bs-card-bg);
  background-clip: border-box;
  border: var(--bs-card-border-width) solid var(--bs-card-border-color);
  border-radius: var(--bs-card-border-radius);
}

:root,
[data-bs-theme="light"] {
  --bs-blue: #0271ff;
  --bs-indigo: #5c25ff;
  --bs-purple: #b90dff;
  --bs-pink: #e61079;
  --bs-red: #e00000;
  --bs-orange: #ff9f0c;
  --bs-yellow: #f9e80d;
  --bs-green: #148922;
  --bs-teal: #249d79;
  --bs-cyan: #009be3;
  --bs-black: #000000;
  --bs-white: #ffffff;
  --bs-gray: #526872;
  --bs-gray-dark: #35434a;
  --bs-gray-100: #c0cacf;
  --bs-gray-200: #a8b6bc;
  --bs-gray-300: #90a2aa;
  --bs-gray-400: #798e98;
  --bs-gray-500: #617a86;
  --bs-gray-600: #526872;
  --bs-gray-700: #44555e;
  --bs-gray-800: #35434a;
  --bs-gray-900: #273136;
  --bs-default: #798e98;
  --bs-theme: #249d79;
  --bs-theme-color: #ffffff;
  --bs-primary: #0271ff;
  --bs-secondary: #798e98;
  --bs-warning: #ff9f0c;
  --bs-danger: #e00000;
  --bs-success: #249d79;
  --bs-inverse: #000000;
  --bs-info: #009be3;
  --bs-dark: #35434a;
  --bs-black: #000000;
  --bs-white: #ffffff;
  --bs-purple: #b90dff;
  --bs-indigo: #5c25ff;
  --bs-red: #e00000;
  --bs-pink: #e61079;
  --bs-green: #148922;
  --bs-yellow: #f9e80d;
  --bs-teal: #249d79;
  --bs-muted: #617a86;
  --bs-light: #c0cacf;
  --bs-lime: #50b00a;
  --bs-gray-100: #c0cacf;
  --bs-gray-200: #a8b6bc;
  --bs-gray-300: #90a2aa;
  --bs-gray-400: #798e98;
  --bs-gray-500: #617a86;
  --bs-gray-600: #526872;
  --bs-gray-700: #44555e;
  --bs-gray-800: #35434a;
  --bs-gray-900: #273136;
  --bs-default-rgb: 121, 142, 152;
  --bs-theme-rgb: 36, 157, 121;
  --bs-theme-color-rgb: 255, 255, 255;
  --bs-primary-rgb: 2, 113, 255;
  --bs-secondary-rgb: 121, 142, 152;
  --bs-warning-rgb: 255, 159, 12;
  --bs-danger-rgb: 224, 0, 0;
  --bs-success-rgb: 36, 157, 121;
  --bs-inverse-rgb: 0, 0, 0;
  --bs-info-rgb: 0, 155, 227;
  --bs-dark-rgb: 53, 67, 74;
  --bs-black-rgb: 0, 0, 0;
  --bs-white-rgb: 255, 255, 255;
  --bs-purple-rgb: 185, 13, 255;
  --bs-indigo-rgb: 92, 37, 255;
  --bs-red-rgb: 224, 0, 0;
  --bs-pink-rgb: 230, 16, 121;
  --bs-green-rgb: 20, 137, 34;
  --bs-yellow-rgb: 249, 232, 13;
  --bs-teal-rgb: 36, 157, 121;
  --bs-muted-rgb: 97, 122, 134;
  --bs-light-rgb: 192, 202, 207;
  --bs-lime-rgb: 80, 176, 10;
  --bs-gray-100-rgb: 192, 202, 207;
  --bs-gray-200-rgb: 168, 182, 188;
  --bs-gray-300-rgb: 144, 162, 170;
  --bs-gray-400-rgb: 121, 142, 152;
  --bs-gray-500-rgb: 97, 122, 134;
  --bs-gray-600-rgb: 82, 104, 114;
  --bs-gray-700-rgb: 68, 85, 94;
  --bs-gray-800-rgb: 53, 67, 74;
  --bs-gray-900-rgb: 39, 49, 54;
  --bs-primary-text: #025acc;
  --bs-secondary-text: #526872;
  --bs-success-text: #106e1b;
  --bs-info-text: #005d88;
  --bs-warning-text: #958b08;
  --bs-danger-text: #b30000;
  --bs-light-text: #526872;
  --bs-dark-text: #44555e;
  --bs-primary-bg-subtle: #cce3ff;
  --bs-secondary-bg-subtle: #c0cacf;
  --bs-success-bg-subtle: #d0e7d3;
  --bs-info-bg-subtle: #ccebf9;
  --bs-warning-bg-subtle: #fefacf;
  --bs-danger-bg-subtle: #f9cccc;
  --bs-light-bg-subtle: #e0e5e7;
  --bs-dark-bg-subtle: #798e98;
  --bs-primary-border-subtle: #9ac6ff;
  --bs-secondary-border-subtle: #a8b6bc;
  --bs-success-border-subtle: #a1d0a7;
  --bs-info-border-subtle: #99d7f4;
  --bs-warning-border-subtle: #fdf69e;
  --bs-danger-border-subtle: #f39999;
  --bs-light-border-subtle: #a8b6bc;
  --bs-dark-border-subtle: #617a86;
  --bs-white-rgb: 255, 255, 255;
  --bs-black-rgb: 0, 0, 0;
  --bs-body-color-rgb: 125, 239, 230;
  --bs-body-bg-rgb: 255, 255, 255;
  --bs-font-sans-serif: system-ui, -apple-system, "Segoe UI", Roboto,
    "Helvetica Neue", "Noto Sans", "Liberation Sans", Arial, sans-serif,
    "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  --bs-font-monospace: SFMono-Regular, Menlo, Monaco, Consolas,
    "Liberation Mono", "Courier New", monospace;
  --bs-gradient: linear-gradient(
    180deg,
    rgba(255, 255, 255, 0.15),
    rgba(255, 255, 255, 0)
  );
  --bs-body-font-family: "Chakra Petch", sans-serif;
  --bs-body-font-size: 0.875rem;
  --bs-body-font-weight: 400;
  --bs-body-line-height: 1.5;
  --bs-body-color: rgba(0, 0, 0, 0.75);
  --bs-emphasis-color: #000000;
  --bs-emphasis-color-rgb: 0, 0, 0;
  --bs-secondary-color: rgba(0, 0, 0, 0.75);
  --bs-secondary-color-rgb: 0, 0, 0;
  --bs-secondary-bg: #c0cacf;
  --bs-secondary-bg-rgb: 192, 202, 207;
  --bs-tertiary-color: rgba(0, 0, 0, 0.5);
  --bs-tertiary-color-rgb: 0, 0, 0;
  --bs-tertiary-bg: rgba(0, 0, 0, 0.1);
  --bs-tertiary-bg-rgb: 0, 0, 0;
  --bs-body-bg: #ffffff;
  --bs-body-bg-rgb: 255, 255, 255;
  --bs-heading-color: #000000;
  --bs-link-color: #249d79;
  --bs-link-color-rgb: 36, 157, 121;
  --bs-link-decoration: underline;
  --bs-link-hover-color: rgba(36, 157, 121, 0.5);
  --bs-link-hover-color-rgb: 36, 157, 121;
  --bs-code-color: #e61079;
  --bs-highlight-bg: #fefacf;
  --bs-border-width: 1px;
  --bs-border-style: solid;
  --bs-border-color: rgba(0, 0, 0, 0.2);
  --bs-border-color-translucent: rgba(0, 0, 0, 0.1);
  --bs-border-radius: 4px;
  --bs-border-radius-sm: 2px;
  --bs-border-radius-lg: 8px;
  --bs-border-radius-xl: 1rem;
  --bs-border-radius-2xl: 2rem;
  --bs-border-radius-pill: 50rem;
  --bs-box-shadow: 0 0.5rem 1rem rgba(var(--bs-inverse-rgb), 0.075);
  --bs-box-shadow-sm: 0 0.125rem 0.25rem rgba(var(--bs-inverse-rgb), 0.035);
  --bs-box-shadow-lg: 0 1rem 3rem rgba(var(--bs-inverse-rgb), 0.175);
  --bs-box-shadow-inset: inset 0 1px 2px rgba(var(--bs-inverse-rgb), 0.075);
  --bs-emphasis-color: #000000;
  --bs-form-control-bg: var(--bs-body-bg);
  --bs-form-control-disabled-bg: var(--bs-secondary-bg);
  --bs-highlight-bg: #fefacf;
  --bs-breakpoint-xs: 0;
  --bs-breakpoint-sm: 576px;
  --bs-breakpoint-md: 768px;
  --bs-breakpoint-lg: 992px;
  --bs-breakpoint-xl: 1200px;
  --bs-breakpoint-xxl: 1660px;
  --bs-breakpoint-xxxl: 1900px;
}

[data-bs-theme="dark"] {
  --bs-body-bg-gradient: linear-gradient(
    180deg,
    rgba(50, 70, 80, 0.9) 0%,
    rgb(13, 16, 27) 100%
  );
  --bs-body-bg-image: url(images/pattern-dark.png);
  --bs-body-bg-image-size: 4.6875rem;
  --bs-body-bg-cover: url(images/cover-dark.jpg);
  --bs-body-font-weight: 300;
  --bs-body-letter-spacing: 0.046875rem;
  --bs-component-bg: #28292b;
  --bs-component-bg-rgb: 40, 41, 43;
  --bs-component-color: rgba(255, 255, 255, 0.75);
  --bs-component-color-rgb: 255, 255, 255;
  --bs-app-header-bg: rgba(29, 40, 53, 0.95);
  --bs-app-header-brand-img: url(images/logo-dark.png);
  --bs-app-header-link-color: #ffffff;
  --bs-app-header-link-color-rgb: 255, 255, 255;
  --bs-app-header-link-hover-color: rgba(255, 255, 255, 0.5);
  --bs-app-sidebar-menu-header-color: rgba(var(--bs-inverse-rgb), 0.3);
  --bs-app-sidebar-menu-link-color: rgba(var(--bs-inverse-rgb), 0.5);
  --bs-app-sidebar-menu-link-hover-color: #ffffff;
  --bs-app-sidebar-menu-link-active-color: #ffffff;
  --bs-app-sidebar-mobile-bg: rgba(44, 56, 70, 0.98);
  --bs-app-theme-panel-bg: rgba(68, 85, 94, 0.95);
  --bs-theme-bg-subtle: #071f18;
}

.row {
  --bs-gutter-x: 20px;
  --bs-gutter-y: 0;
}

body {
  font-weight: var(--bs-body-font-weight);
  letter-spacing: var(--bs-body-letter-spacing);
  font-family: var(--bs-body-font-family);
  font-size: var(--bs-body-font-size);
  line-height: var(--bs-body-line-height);
  color: var(--bs-body-color);
  -webkit-text-size-adjust: 100%;
  -webkit-tap-highlight-color: transparent;
  background-color: transparent;
}

.card:not(.border-0):before {
  left: 15px;
  right: 15px;
  top: 0;
  bottom: 0;
  border-top: 1px solid rgba(var(--bs-border-color-rgb), 0.3);
  border-bottom: 1px solid rgba(var(--bs-border-color-rgb), 0.3);
}
.card:before {
  content: "";
  position: absolute;
}
*,
::after,
::before {
  box-sizing: border-box;
}

.card
  > :not(.card-arrow):not(.card-img-overlay):not(.card-img):not(
    .hljs-container
  ) {
  position: relative;
  z-index: 10;
}

.card-body {
  flex: 1 1 auto;
  padding: var(--bs-card-spacer-y) var(--bs-card-spacer-x);
  color: var(--bs-card-color);
}

.card
  > :not(.card-arrow):not(.card-img-overlay):not(.card-img):not(
    .hljs-container
  ) {
  position: relative;
  z-index: 10;
}
.card-header:first-child {
  border-radius: var(--bs-card-inner-border-radius)
    var(--bs-card-inner-border-radius) 0 0;
}

.bg-opacity-10 {
  --bs-bg-opacity: 0.1;
}

.bg-inverse {
  background-color: rgba(
    var(--bs-inverse-rgb),
    var(--bs-bg-opacity)
  ) !important;
}
.align-items-center {
  align-items: center !important;
}
.d-flex {
  display: flex !important;
}
.card-header {
  padding: var(--bs-card-cap-padding-y) var(--bs-card-cap-padding-x);
  margin-bottom: 0;
  color: var(--bs-body-color-rgb);
  border-bottom: var(--bs-card-border-width) solid var(--bs-card-border-color);
}

.fw-400 {
  font-weight: 500 !important;
}
.flex-grow-1 {
  flex-grow: 1 !important;
}

.card .card-arrow {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

/* Góc vuông trên cùng bên trái --- */
.card .card-arrow-top-left {
  left: 0;
}
.card .card-arrow-top-left {
  top: 0;
}
.card .card-arrow-top-left {
  width: 10px;
  height: 10px;
  position: absolute;
}

.card .card-arrow-top-left:before {
  left: 0;
}
.card .card-arrow-top-left:before {
  top: 2px;
}
.card .card-arrow-top-left:before {
  content: "";
  position: absolute;
  width: 2px;
  height: 8px;
  background: rgba(var(--bs-border-color-rgb), 0.75);
}

.card .card-arrow-top-left:after {
  left: 0;
}
.card .card-arrow-top-left:after {
  top: 0;
}
.card .card-arrow-top-left:after {
  content: "";
  position: absolute;
  width: 10px;
  height: 2px;
  background: rgba(var(--bs-border-color-rgb), 0.75);
}

/* Góc vuông trên cùng bên phải --- */
.card .card-arrow-top-right {
  right: 0;
}
.card .card-arrow-top-right {
  top: 0;
}
.card .card-arrow-top-right {
  width: 10px;
  height: 10px;
  position: absolute;
}

.card .card-arrow-top-right:before {
  right: 0;
}
.card .card-arrow-top-right:before {
  top: 2px;
}
.card .card-arrow-top-right:before {
  content: "";
  position: absolute;
  width: 2px;
  height: 8px;
  background: rgba(var(--bs-border-color-rgb), 0.75);
}

.card .card-arrow-top-right:after {
  right: 0;
}
.card .card-arrow-top-left:after {
  top: 0;
}
.card .card-arrow-top-right:after {
  content: "";
  position: absolute;
  width: 10px;
  height: 2px;
  background: rgba(var(--bs-border-color-rgb), 0.75);
}

/* Góc vuông dưới cùng bên trái */
.card .card-arrow-bottom-left {
  left: 0;
}
.card .card-arrow-bottom-left {
  bottom: 0;
}
.card .card-arrow-bottom-left {
  width: 10px;
  height: 10px;
  position: absolute;
}

.card .card-arrow-bottom-left:before {
  left: 0;
}
.card .card-arrow-bottom-left:before {
  bottom: 2px;
}
.card .card-arrow-bottom-left:before {
  content: "";
  position: absolute;
  width: 2px;
  height: 8px;
  background: rgba(var(--bs-border-color-rgb), 0.75);
}

.card .card-arrow-bottom-left:after {
  left: 0;
}
.card .card-arrow-bottom-left:after {
  bottom: 0;
}
.card .card-arrow-bottom-left:after {
  content: "";
  position: absolute;
  width: 10px;
  height: 2px;
  background: rgba(var(--bs-border-color-rgb), 0.75);
}

/* Góc vuông dưới cùng bên tay phải */
.card .card-arrow-bottom-right {
  right: 0;
}
.card .card-arrow-bottom-right {
  bottom: 0;
}
.card .card-arrow-bottom-right {
  width: 10px;
  height: 10px;
  position: absolute;
}

.card .card-arrow-bottom-right:before {
  right: 0;
}
.card .card-arrow-bottom-right:before {
  bottom: 2px;
}
.card .card-arrow-bottom-right:before {
  content: "";
  position: absolute;
  width: 2px;
  height: 8px;
  background: rgba(var(--bs-border-color-rgb), 0.75);
}

.card .card-arrow-bottom-right:after {
  right: 0;
}
.card .card-arrow-bottom-right:after {
  bottom: 0;
}
.card .card-arrow-bottom-right:after {
  content: "";
  position: absolute;
  width: 10px;
  height: 2px;
  background: rgba(var(--bs-border-color-rgb), 0.75);
}

.card:not(.border-0):after {
  top: 15px;
  bottom: 15px;
  left: 0;
  right: 0;
  border-left: 1px solid rgba(var(--bs-border-color-rgb), 0.3);
  border-right: 1px solid rgba(var(--bs-border-color-rgb), 0.3);
}
.card:after {
  content: "";
  position: absolute;
}

html {
  background: #111117;
  box-shadow: 0 0 300px rgba(0, 255, 255, 0.2) inset;
  animation-name: glowing;
  animation-duration: 5s;
  animation-timing-function: ease-in-out;
  animation-direction: alternate;
  animation-iteration-count: infinite;
  /* position: relative; */
}

.demo-container {
  background-color: transparent;
}

.report p {
  color: var(--color-default);
  font-family: var(--font-text);
  font-weight: var(--font-weight);
  margin: 0;
}
